Brotli==1.0.9
cachelib==0.9.0
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.5
dash==2.6.1
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-extensions==0.1.6
dash-html-components==2.0.0
dash-leaflet==0.1.23
dash-table==5.0.0
EditorConfig==0.12.3
Flask==2.1.2
Flask-Caching==2.0.0
Flask-Compress==1.12
fsspec==2022.8.2
geobuf==1.1.1
gunicorn==20.0.4
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsbeautifier==1.14.6
locket==1.0.0
MarkupSafe==2.1.1
more-itertools==8.14.0
numpy
packaging==21.3
pandas
partd==1.3.0
plotly==5.10.0
protobuf==3.20.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
six==1.16.0
tenacity==8.0.1
toolz==0.12.0
waitress==2.1.2
Werkzeug==2.2.2
zipp==3.8.1
